{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/post/post.css'%}">
</head>

<body>
    <div id="post-list" class="post-list"></div>
</body>

</html>

<script>
    var post_list = document.getElementById('post-list');
    function add_thread(thread) {
        post_list.innerHTML += `
        <div class="post">
            <div class="left">
                <div class="vote">
                    <button onclick="vote(${thread.id}, 1)" class="upvote">
                        <img src="{% static 'image/arrow_up.svg' %}" title="Upvote" width="16" height="19">
                    </button>
                    <div id="num_vote${thread.id}" class= "num_vote" type="text">
                        ${thread.vote_count}
                    </div>
                    <button onclick="vote(${thread.id}, -1)" class="downvote">
                        <img src="{% static 'image/arrow_down.svg' %}" title="Downvote" width="16" height="19">
                    </button>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <a class="flex" href="/thread/topic/${thread.hashtag}" %}">
                    <div class="avatar">
                        <img src="{% static 'image/Logo-img.svg' %} " width=32" height="32">
                    </div>
                    <div class="hashtag">
                        ${thread.hashtag}
                    </div>
                    </a>
                    <div class="author">
                        Posted by ${thread.author}
                    </div>
                </div>
                <div class="center">
                    <p>
                        ${thread.contents[0].value}
                    </p>
                </div>
                <div class="bottom">
                    <a href="/thread/${thread.id}" class="cmt">
                        <img src="{% static 'image/comment.svg'%}" color="#707070">
                    </a>
                    <a href="/thread/${thread.id}" class="num_cmt">
                        ${thread.comments.length} comments
                    </a>
                </div>
            </div>
        </div>
                    `;
    }

    var page_index = 0;
    function get_threads() {
        $.ajax({
            url: "{% url 'get_threads_view'%}",
            type: 'GET',
            dataType: "json",
            data: {
                'page_index': page_index
            },
            success: function (res, status) {
                if (res.status == 'OK') {
                    page_index += 1;
                    res.threads.forEach(add_thread);
                }
            }
        });
    }

    get_threads();

    $(window).ready(function () {
        var wait = true;
        $(window).on('scroll', function () {
            if (wait && ($(window).scrollTop() >= $('#post-list').offset().top + $('#post-list').outerHeight() - window.innerHeight)) {
                get_threads();
                wait = false;
            }
        });
    })

    function vote(thread_id, value){
        var num_vote = document.getElementById("num_vote" + thread_id.toString());
        $.ajax({
            url: '/thread/' + `${thread_id}/emote`,
            type: 'GET',
            dataType: "json",
            data: {
                'value': value
            },
            success: function (res, status) {
                if (res.status === 'OK')
                    num_vote.innerText = (parseInt(num_vote.innerText) + value).toString();
                if (res.message === 'Chua dang nhap')
                    alert('Bạn cần đăng nhập để vote')
            }
        })
    }

</script>