{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patronum | CS300 Web-blog</title>
    <meta name="description" content="CS300 web-blog">
    <meta name="robots" content="index,follow">
    <link rel="icon" href="{% static 'image/logo-img.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% static 'css/hashtag/hashtag.css'%}">
</head>
<body>
    {% include 'navigation_bar/navbar.html' %}
    <div class="hashtag">
        <div class="column-left">
            {% include 'hashtag/hashtag_detail.html' with hashtag=thread.hashtag %}
        </div>
        <div class="column-right">
            <div class="post-list">
                {% include 'post/post_detail.html' with thread=thread %}
            </div>
        </div>
    </div>
</body>
</html>
