{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/post/post_detail.css'%}">
</head>

<body>
    <div class="post-detail">
        <div class="post-content">
            <div class="left">
                <div class="vote">
                    <button onclick="vote({{ thread.id }}, 1)" class="upvote">
                        <img src="{% static 'image/arrow_up.svg' %}" title="Upvote">
                    </button>
                    <div id="vote-count{{ thread.id }}" class="num_vote" type="text">{{ thread.vote_count }}</div>
                    <button onclick="vote({{ thread.id }}, -1)" class="downvote">
                        <img src="{% static 'image/arrow_down.svg' %}" title="Downvote">
                    </button>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <div class="avatar">
                        <img src="{% static 'image/Logo-img.svg' %} " width=32" height="32">
                    </div>
                    <div class="hash-tag-small">
                        {{ thread.hashtag }}
                    </div>
                    <div class="author">
                        Posted by {{ thread.author }} at {{ thread.created_day }}
                    </div>
                </div>
                <div class="center">
                    <p>
                        {{ thread.contents.0.value }}
                    </p>
                </div>
                <div class="bottom">
                    <a class="cmt">
                        <img src="{% static 'image/comment.svg'%}" color="#707070">
                    </a>
                    <a class="num_cmt">
                        {{ thread.comments|length }} comments
                    </a>
                    <a class="report">
                        <img href="#" src="{% static 'image/report.svg' %}" title="Report">
                    </a>
                </div>
            </div>
        </div>
        <div class="sort">
            <p>Select by</p>
            <button id="sort-btn-id" class="sort-btn" title="Account">
                Time
            </button>
            <div id="my_sort" class="dropdown-content1">
            </div>
        </div>
        <div class="post-comment">
            {% for comment in thread.comments %}
            <div class="comment">
                <div class="comment-top">
                    <div class="avatar">
                        <img src="{% static 'image/Logo-img.svg' %} " width=32" height="32">
                    </div>
                    <div class="name">
                        <p>{{ comment.author }}</p>
                    </div>
                    <div class="cmt-time">
                        <p>{{ comment.created_day }}</p>
                    </div>
                </div>
                <div class="comment-inside">
                    <div class="comment-middle">
                        <p>
                            {{ comment.contents.0.value }}
                        </p>
                    </div>
                    <div class="comment-bottom">
                        <div class="detail">
                            <a onclick="vote({{ comment.id }}, 1)" class="upvote">
                                <img src="{% static 'image/arrow_up.svg' %}" title="Upvote">
                            </a>
                            <div id="vote-count{{ comment.id }}" class="small-text" type="text">{{ comment.vote_count }}</div>
                            <a onclick="vote({{ comment.id }}, -1)" class="downvote">
                                <img src="{% static 'image/arrow_down.svg' %}" title="Downvote">
                            </a>
                        </div>
                        <div class="detail">
                            <a href="#comments" class="cmt">
                                <img src="{% static 'image/comment.svg'%}" color="#707070">
                            </a>
                            <a href="#comments" class="small-text">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="your-comment">
            <div class="user-avatar"><img src="{% static 'image/Logo-img.svg' %} " width=32" height="32"></div>
            <textarea id="comment" class="write-comment" placeholder="Write your comment here"></textarea>
            <div id="comment-btn" class="enter-button">Post</div>
        </div>
    </div>
</body>

</html>

<script>
    $('#comment-btn').click(function(e) {
        $.ajax({
            url: "{% url 'comment_view' thread.id %}",
            type: 'POST',
            dataType: "json",
            data: {
                'comment': $('#comment').val()
            },
            success: function (res, status) {
                if (res.status === 'OK')
                    location.reload();
                else
                    alert('Bạn cần đăng nhập để comment');
            }
        })
    })

    function vote(thread_id, value){
        var vote_count = document.getElementById('vote-count' + thread_id.toString());
        $.ajax({
            url: '/thread/' + `${thread_id}/emote`,
            type: 'GET',
            dataType: "json",
            data: {
                'value': value
            },
            success: function (res, status) {
                if (res.status == 'OK')
                    vote_count.innerText = (parseInt(vote_count.innerText) + value).toString();
                if (res.message == 'Chua dang nhap')
                    alert('Bạn cần đăng nhập để vote')
            }
        })
    }
</script>