.flex {
	display: flex;
	text-decoration: none;
}

.bt {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 44px;
	background: #fa6900;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
	box-shadow: 0px 3px 8px #707070;
	width: 80px;
	text-align: center;
}
.post-list {
	font-family: helvetica;
	width: 1088px;
	display: block;
	margin: 90px auto;
}
.post {
	display: flex;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0px 3px 8px #707070;
	background-color: #fff;
}
.post .left {
	width: 60px;
}
.post .left .vote {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.post .left .vote .upvote,
.post .left .vote .downvote {
	margin-left: auto;
	margin-right: auto;
	border: none;
	background: none;
	outline: none;
}
.post .left .vote .num_vote {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.post .right {
	width: calc(100% - 60px);
	border-left: 1px solid #70707046;
}
.post .right .center {
	padding: 5px 20px 5px 20px;
	text-align: justify;
}
.post .right .top {
	display: flex;
	height: 60px;
	border-bottom: 1px solid #70707046;
}
.author {
	margin-left: 14px;
	margin-top: auto;
	margin-bottom: auto;
	font-style: italic;
	font-weight: lighter;
}
.hashtag {
	margin-left: 14px;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	color: #fa6900;
}
.avatar {
	margin-left: 14px;
	margin-top: auto;
	margin-bottom: auto;
}
.post .right .top .follow-btn {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
	transition: all 0.5s;
}
.post .right .top .follow-btn:hover {
	width: 90px;
	margin-right: 15px;
}

.post .right .bottom {
	border-top: 1px solid #70707046;
	height: 60px;
	display: flex;
}
.cmt {
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
}
.num_cmt {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	font-style: italic;
	text-decoration: none;
	color: black;
}
.report {
	position: inline-block;
	display: flex;
	margin-right: 30px;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
}
