{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Hashtag</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/hashtag/description.css' %}">
</head>

<body>
    <div class="description-container">

        <div class="hashtag-description-wrapper">

            <div class="description-title-logo">
                <div class="description-logo">
                    <img class="ava" src="{% static 'image/logo-img.svg' %}" width="64" height="64">
                </div>
                <div class="description-title">
                    <div class="title">Software Engineering Project</div>
                    <div class="hashtag">#project</div>
                </div>
            </div>

            <div class=" description-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non a nesciunt corrupti nihil id aliquid
                veniam in adipisci repellendus totam.
            </div>

        </div>
        <div class="briefly-description-form">
            <div class="briefly-description-container">
                <div class="hashtag-follower">
                    <p class="text-hashtag-follower">5000 Followers</p>
                </div>
            </div>
        </div>

    </div>



</body>

</html>