.hashtag {
	display: flex;
	width: 1168px;
	height: auto;
	margin: 120px auto;
	font-family: Helvetica;
}

.hashtag .column-left {
	border: none;
}

.hashtag .column-right {
}

.post-list {
	font-family: helvetica;
	width: 700px;
	border-radius: 10px;
	display: flex;
	margin-left: 468px;
	border: none;
}
