{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/wall/profile.css'%}">
</head>

<body>
    <div class="profile">
        <div class="general">
            <div class="avatar"><img src="{% static 'image/Logo-img.svg' %} " width=48" height="48"></div>
            <div class="name">{{ username }}</div>
        </div>
        <div class="hashtag-list">
            {% for hashtag in hashtags %}
            <class class="hashtag">{{ hashtag }}</class>
            {% endfor %}
        </div>

    </div>
</body>

</html>