{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <title>Patronum | CS300 Web-blog</title>
    <meta name="description" content="CS300 web-blog">
    <meta name="robots" content="index,follow">
    <link rel="icon" href="{% static 'image/logo-img.svg' %}">
    <link rel="stylesheet" href="{% static 'css/wall/wall.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {% include 'navigation_bar/navbar.html' %}
    <div class="wall">
        <div class="column-left">
            {% include 'wall/profile.html' with username=username hashtags=hashtags %}
        </div>

        <div class="column-right">
            <div class="post-list">
            {% for thread in threads %}
                {% include 'post/post_detail.html' with thread=thread %}
            {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
<script>
    function vote(thread_id, value){
        var vote_count = document.getElementById('vote-count' + thread_id.toString());
        $.ajax({
            url: '/thread/' + `${thread_id}/emote`,
            type: 'GET',
            dataType: "json",
            data: {
                'value': value
            },
            success: function (res, status) {
                if (res.status == 'OK')
                    vote_count.innerText = (parseInt(vote_count.innerText) + value).toString();
                if (res.message == 'Chua dang nhap')
                    alert('Bạn cần đăng nhập để vote')
            }
        })
    }
</script>