{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/home/submit-post.css'%}">
</head>

<body>
    <div class="create-post">
        <div class="logo-gray-title">
            <div class="logo-gray">
                <img src="{% static 'image/Logo-img-gray.svg' %}" height="52px" width="52px">
            </div>
            <div class="title-wrapper">
                <form autocomplete="off">
                    <div class="title-post">
                        <input type="text" id="title" name="title-post" placeholder="Topic" required>
                    </div>
                </form>
            </div>
        </div>

        <hr style="height:1px;border-width:0;color:#707070;background-color:#70707046;width:98%">

        <div class="input-wrapper">
            <textarea id="content" class="submit-post-textarea" placeholder="Content..." cols="115" required></textarea>
            <div class="btn-confirm-submit-wrapper">
                <a id="submit-post" class="confirm-submit" title="Post">Post</a>
            </div>
        </div>
    </div>

</body>

<script>
    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
</script>
<script>
    $("#submit-post").click(function(e) {
        e.preventDefault();
        if (!$('#title').val() || !$('#content').val()){
            alert('Bạn cần điền đầy đủ thông tin bài viết');
            return
        }
        $.ajax({
            url: "{% url 'create_thread_view'%}",
            type: 'POST',
            dataType: "json",
            data: {
                'hashtag': $('#title').val(),
                'content': $('#content').val()
            },
            success: function (res, status) {
                if (res.status === 'OK'){
                    location.reload(true);
                }
                else{
                    alert('Bạn cần đăng nhập');
                }
            }
        })
    })
</script>